{% extends 'base.html.twig' %}

{% block title %}L'épicerie d'Hélène - Boutique{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/cart.css">
{% endblock %}

{% block body %}
    <table class="cart__table">
        <thead>
            <tr>
                <th class="cart__table__th">Article</th>
                <th class="cart__table__th">Quantité</th>
                <th class="cart__table__th">Prix unitaire</th>
                <th class="cart__table__th">Sous-total</th>
            </tr>
        </thead>
    {% for i in 0..5 %}
        <tr>
            <td class="cart__table__td">nom du produit</td>
            <td class="cart__table__td">x kg</td>
            <td class="cart__table__td">3,50€</td>
            <td class="cart__table__td">x,50€</td>
        </tr>
    {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td class="cart__table__td">Total</td>
            <td class="cart__table__td">15,50€</td>
        </tr>
    </table>

    <button type="button" class="cart__cancelButton">retour</button>
    <form method="POST" action="">
        <button type="submit" class="cart__validButton">Je valide </br>ma commande</button>
    </form>
{% endblock %}